---
import PostItem from '@components/common/posts/Item.astro'
import type { PostList } from '@types'

const { posts } = Astro.props;

type Props = {
    posts: PostList
}
---

<div class="w-full">
    {
        posts.map(post => {
            return (
                <div>
                    <hr class="border-zinc-300" />
                    <PostItem post={post} />
                </div>
            )
        })
    }
</div>