---

---
<div class="flex justify-between py-8 font-medium text-slate-900 border-b border-slate-200">
    <div>
        <a class="text-indigo-600 text-2xl font-bold tracking-tight" href="/">Nicolás Montiel</a>
    </div>

    <div class="flex gap-4 items-center text-sm">
        <a class="hover:text-indigo-600 transition-colors" href="/">Home</a>
        <span class="text-slate-300"> / </span>
        <a class="hover:text-indigo-600 transition-colors" href="/posts">Posts</a>
        <span class="text-slate-300"> / </span>
        <a class="hover:text-indigo-600 transition-colors" href="/tiendapy">TiendaPy</a>
    </div>
</div>
