---

---
<div class="flex justify-between py-5 font-semibold text-gray-100">
    <div>
        <a class="text-pink-600 text-2xl" href="">Nicolas Montiel</a>
    </div>

    <div class="flex gap-2">
        <a class="hover:text-pink-600" href="/">Home</a>
        <span> / </span>
        <a class="hover:text-pink-600" href="/posts">Posts</a>
    </div>
</div>