---
import Layout from '../layouts/Layout.astro';
import Presentation from '@components/home/Presentation.astro';
---

<Layout>
	<section id="presentation-section">
        <Presentation />
    </div>

    <section id="latest-posts-section">
        <h5>Latest posts</h5>
    </section>
</Layout>