---
import Layout from '../layouts/Layout.astro';
import PostsList from '@components/common/posts/List.tsx'
---

<Layout title="My Posts">
    <div class="w-full">
        <div class="flex flex-col gap-2 mb-10">
            <h1 class="text-4xl text-slate-900 font-extrabold tracking-tight">Publicaciones</h1>
            <p class="text-slate-500">Artículos sobre desarrollo, tecnología y experiencias personales.</p>
        </div>
        
        <div class="w-full">
            <PostsList
                withPagination
                client:only="preact"
            />
        </div>
    
        <div class="w-full mt-5 text-right">
            
        </div>
    </div>
</Layout>