---
import PostsList from '@components/common/posts/List.tsx'

---
<div class="w-full">
    <div class="flex justify-between">
        <h5 class="text-xl text-white font-semibold mb-6">Most popular posts</h5>
        <a href="/posts" class="text-rose-800 font-bold">All posts →</a>
    </div>
    
    <div class="w-full">
        <PostsList
            popular
            client:only="preact"
        />
    </div>
</div>