---
import PostsList from '@components/common/posts/List.tsx'

---
<div class="w-full">
    <div class="flex justify-between items-center mb-6">
        <h5 class="text-2xl text-slate-900 font-bold">Most popular posts</h5>
        <a href="/posts" class="text-indigo-600 font-semibold hover:underline decoration-2 underline-offset-4">View all →</a>
    </div>
    
    <div class="w-full">
        <PostsList
            popular
            client:only="preact"
        />
    </div>
</div>