<p>
	Software Engineer with over 7 years of experience building web applications. I specialize in building robust
	solutions with <span class="text-slate-900 font-medium">Laravel, Vue, Node</span> and
	<span class="text-slate-900 font-medium">TypeScript</span>.
	<br /><br />
	Beyond the terminal, I'm passionate about video games, cinema, and spending time with my wife and family.
	Currently, I'm exploring new opportunities and sharing what I learn while building software.
</p>
