---
import devIcon from '@assets/icons/devto.svg';
import linkedinIcon from '@assets/icons/linkedin.svg';
import githubIcon from '@assets/icons/github.svg';
import mailIcon from '@assets/icons/mail.svg';

const socialMediaItems = [
    {
        url: 'https://www.linkedin.com/in/nicolasmontielf/?locale=en_US',
        icon: linkedinIcon,
    },
    {
        url: 'https://github.com/nicolasmontielf',
        icon: githubIcon,
    },
    {
        url: 'https://dev.to/nicolasmontielf',
        icon: devIcon,
    },
    {
        url: 'mailto:nicolasmontielf@gmail.com',
        icon: mailIcon,
    }
];
---

<div class="md:w-2/3 w-full flex flex-col gap-5">
    <h3 class="text-4xl text-white">Hi, I'm Nico 👋🏻</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo in soluta ipsa corrupti praesentium dolore quod. Atque veritatis autem, earum iusto nesciunt corporis veniam quisquam, est dignissimos reiciendis, aliquid tenetur.</p>

    <div>
        <div class="flex gap-3 items-center">
            {
                socialMediaItems.map(item => {
                    return (
                        <a href={item.url} target="_blank">
                            <img src={item.icon.src} class="w-5 h-auto" alt={`Icon for ${item.url}`} />
                        </a>
                    )
                })
            }
        </div>
    </div>
</div>