---
import devIcon from '@assets/icons/devto.svg';
import linkedinIcon from '@assets/icons/linkedin.svg';
import githubIcon from '@assets/icons/github.svg';
import mailIcon from '@assets/icons/mail.svg';
import PresentationBodyEs from '@components/home/PresentationBody.es.astro';
import PresentationBodyEn from '@components/home/PresentationBody.en.astro';
import type { Locale } from '@/i18n/locales';

type Props = {
	locale: Locale;
	greeting: string;
};

const { locale, greeting } = Astro.props as Props;

const socialMediaItems = [
    {
        url: 'https://www.linkedin.com/in/nicolasmontielf/?locale=en_US',
        icon: linkedinIcon,
    },
    {
        url: 'https://github.com/nicolasmontielf',
        icon: githubIcon,
    },
    {
        url: 'https://dev.to/nicolasmontielf',
        icon: devIcon,
    },
    {
        url: 'mailto:nicolasmontielf@gmail.com',
        icon: mailIcon,
    }
];
---

<div class="md:w-2/3 w-full flex flex-col gap-6">
    <h3 class="text-5xl text-slate-900 font-bold tracking-tight">{greeting}</h3>

    <div class="text-lg leading-relaxed text-slate-600">
        {locale === 'es' ? <PresentationBodyEs /> : <PresentationBodyEn />}
    </div>

    <div>
        <div class="flex gap-4 items-center">
            {
                socialMediaItems.map(item => {
                    return (
                        <a href={item.url} target="_blank" class="group">
                            <div 
                                class="w-5 h-5 bg-slate-400 group-hover:bg-indigo-600 transition-colors cursor-pointer"
                                style={`
                                    mask-image: url(${item.icon.src}); 
                                    -webkit-mask-image: url(${item.icon.src});
                                    mask-size: contain; 
                                    -webkit-mask-size: contain;
                                    mask-repeat: no-repeat;
                                    -webkit-mask-repeat: no-repeat;
                                    mask-position: center;
                                    -webkit-mask-position: center;
                                `}
                            />
                        </a>
                    )
                })
            }
        </div>
    </div>
</div>
