---
import Navbar from '@components/layout/Navbar.astro';
import '@fontsource-variable/space-grotesk';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hi!, My name is Nico and I'm software engineer." />
        <meta name="author" content="Nicolás Montiel" />
        <meta name="viewport" content="width=device-width" />

        <!-- Facebook meta tags -->
        <meta property="og:title" content="Nicolás Montiel &mdash; Software Engineer"/>
		<meta property="og:image" content="https://www.nicolasmontiel.dev/img/profile.png"/>
		<meta property="og:url" content="https://www.nicolasmontiel.dev"/>
		<meta property="og:site_name" content="Nicolás Montiel &mdash; Software Engineer"/>
		<meta property="og:description" content="Hi!, My name is Nico and I'm Software Engineer."/>

        <!-- Twitter meta tags -->
		<meta name="twitter:title" content="Nicolás Montiel &mdash; Software Engineer" />
		<meta name="twitter:image" content="https://www.nicolasmontiel.dev/img/profile.png" />
		<meta name="twitter:url" content="https://www.nicolasmontiel.dev" />

		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || 'Home'} | Nicolás Montiel</title>
	</head>

	<body class="max-w-screen-lg lg:px-0 px-3 mx-auto bg-neutral-950 text-zinc-400 mb-40">
        <div class="lg:mb-5">
            <Navbar />
        </div>

        <main class="py-5">
            <slot />
        </main>

	</body>
</html>