---
import Navbar from '@components/layout/Navbar.astro';
import Footer from '@components/layout/Footer.astro';

import '@fontsource-variable/space-grotesk';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicolas Montiel</title>
	</head>
	<body class="max-w-screen-md mx-auto">
        <navbar>
            <Navbar />
        </navbar>

        <main>
            <slot />
        </main>

        <footer>
            <Footer />
        </footer>
	</body>
</html>